@page
@model AddModel
@{
    Layout ="_layoutAdmin";
    ViewData["Title"] = "Administrator Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            @{
            <form method="POST">
                    <input name="id" id="id">
                    <input name="judul" id="judul">
                    <input name="highlight" id="highlight">
                    <input name="body" id="body">
                    <input name="publisher" id="publisher">
                    <input name="created" id="created">
                    <button id="btn" class="btn btn-danger">Edit</button>
            </form>
            }
        </div>
    </div>
</div>